<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Terve H2</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>
<div th:replace="~{fragments/header :: header}">Header</div>
<h1>All data</h1>
<div class="container">
    <table>
        <tr>
            <th>ID</th>
            <th>TEMP Value</th>
        </tr>
        <tr th:each="data : ${dataa}">
            <td th:text="${data.id}"></td>
            <td th:text="${data.value}"></td>
        </tr>
    </table>
</div>
</body>
</html>